
body{
  font-family: 'Montserrat', sans-serif;
}

a{
  text-decoration: none;
  cursor: pointer;
}
p{
  margin: 0;
  padding: 0;
}
input{
  border: none;
}
.title{

}

.subtitle{
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #303030;
  text-transform: uppercase;
}

.btn{
  background-color: #7eb252;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}