

@media (max-width: 1440px) {

  .list {
    &__img {
      right: 112px;
    }
  }
  .history {
    &__text--title {
      margin: -95px 113px 38px 273px;
    }
  }
  .quote {
    margin-bottom: 100px;

    &__text-wrapper {
      padding: 24px 10px 60px;
    }
  }
  .advantages {
    &__content {
      left: 12%;
    }
  }
  .ingredients {
    margin-top: 191px;
  }
  .reviews {
    &--title {
      padding: 133px 0 54px;
    }
  }
  .participation {
    &__container-fluid {
      max-width: 1200px;
    }

    &__img {
      &__inner{
        padding-left: 46px;
      }
      img {
        width: 100%;
        height: 82%;
        display: inline-block;
        padding-top: 95px;
      }
    }

    &__text-wrapper {
      flex: 0 0 58%;
      transform: translateX(-70px);
    }
  }
  .warranty {
    padding-top: 194px;
    &__text {
    margin-left: 151px;
    }
    &__image{
        right: 14%;
    }
  }
}

@media (max-width: 1340px){
  .list {
    &__img {
      right: 39px;
    }
    &--btn{
      right: -61px;
    }
  }
  .popular{
    &__img{
      background-position-x: center;
    }
  }
  .history{
    &__img{
      background-position-x: center;
    }
  }
  .advantages{
    &__content{
      max-width: 1019px;
    }
  }
  .reviews{
    &--title{
      padding: 55px 0 54px;
    }
  }
  .title{
    font-size: 36px;
    line-height: 43px;
  }
  .warranty{
    &--title{
      margin-left: 54px;
    }
    &__image{
      right: 12%;
    }
  }
  .quote {
    &__text {
      font-size: 21px;
    }
    &__bg1{
      background-position: -543px center;
    }
    &__bg2{
      background-position: 32px center;
    }
  }
}

@media (max-width: 1200px) {

  .container{
    max-width: 992px;
  }

  .head{
    &__text{
      flex: 0 0 50%;
    }
  }

  .header{
    &__title{
      font-size: 49px;
    }
    &__img{
      transform: translate(114px, 26px);
      img{
        width: 91%;
        height: auto;
        }
      }
    &__content-wrapper{
      margin-left: 154px;
      }
    &__text{
      padding-bottom: 83px;
      }
    }
  .stat{
    &__item-number{
        font-size: 25px;
    }
    &__item-text{
      font-size: 15px;
    }
  }
  .title{
    font-size: 34px;
    line-height: 37px;
  }

  .list{
    &--title{
      .list--title {
        max-width: 412px;
        padding-bottom: 30px;
      }
    }
    &__text-item1,
    &__text-item2,
    &__text-item3,
    &__text-item4,
    &__text-item5{
      font-size: 12px;
    }
    &__text-item6,
    &__text-item7,
    &__text-item8,
    &__text-item9{
     line-height: 13px;
      font-size: 14px;
    }
    &__img{
      width: 390px;
    }
    .item-1,
    .item-3,
    .item-4,
    .item-5,
    .item-8,
    .item-9,{
        left: 170px;
    }
    .item-2 {
      top: 311px;
    }
    .item-6 {
      left: 108px;
    }
    .item-7 {
      top: 182px;
      left: 171px;
    }
    &--btn{
      right: 7px;
    }
  }
  .popular{
    &__img{
      height: 539px;
      &-text-inner{
        right: -5px;
      }
    }
    &__text-item:not(:last-child){
      padding-bottom: 27px;
    }
  }
  .history{
    &__text-wrapper{
      font-size: 13px;
      padding: 23px 49px 35px 106px;
    }
    &__img{
      height: 749px;
    }
  }

  .quote{
    margin-bottom: 12px;
    &__bg1{
        height: 535px;
    }
    &__bg2{
      height: 851px;
      background-position: 96px center;
    }
    &__author{
      font-size: 14px;
    }
    &__text{
      font-size: 19px;
      line-height: 33px;
    }
  }

  .advantages{
    &--container-fluid{
      height: 288px;
    }
    &--title{
      max-width: 626px;
    }
    &__content{
      max-width: 827px;
      left: 15%;
    }
    &__number{
      font-size: 117px;
      top: 44%;
    }
    &__item{
      height: 227px;
    }
    &__text1{
      padding-top: 6px;
    }
    &__text2,
    &__text3{
      padding-top: 17px;
    }
  }

  .ingredients{
    br{
      display: none;
    }
    &--container{
      max-width: 992px;
    }
    &--title{
      max-width: unset;
      text-align: center;
    }
    &__item{
      flex: 1 1 22%;
      margin: 24px;
    }
    &__item3-text{
      order: 1;
      flex: 1 1 100%;
      height: 50%;
        ul{
      padding-left: 100px;
      max-width: 88%;
    }
    }
    &__item1{
      order: 2;
    }
    &__list1-item2{
      transform: translateY(-24px);
    }
    &__item2{
      order: 3;
    }
    &__item4{
      order: 5;
    }
    &__item5{
      order: 6;
    }
    &__item6{
      order:7;
    }
    &__item7{
      order: 8;
    }
    &__item8{
      order: 9;
    }
    &__item9{
      order: 10;
    }
    &__item10{
      order: 11;
    }
    &__item11{
      order: 12;
    }
    &__item13{
      order: 13;
    }
    &__item12-text-wrapper{
      order: 14;
      border: 1px solid #e4eddc;
      position: relative;
      padding-right: 9px;
    }
    &__item12-text{
      padding: 0 0 50px 10px;
      border: none;
      position: static;
      line-height: 24px;
      ul{
        list-style-image: none;
        list-style-type: none;
        padding-left: 0;
      }
    }
    &__list2-item12{
      p:last-child {
        display: none;
      }
    }
    &--btn{
      padding: 18px 20px;
      width: 100%;
    }
  }
  .reviews{
    padding-bottom: 131px;

    br{
      display: none;
    }
    .review2,
    .review4{
      display: none;
    }
    &__item{
      flex: 1 1 100%;
    }
    &__more{
      left: 26%;
      top: -23px;
    }
    &--btn{
        padding: 18px 31px;
        margin-left: 0;
        left: 43%;
         top: -34px;
    }
  }
  .participation{
    &--btn{
      padding: 27px 9px 27px 20px;
    }
    &__img{
      img{
        width: 113%;
      }
    }
  }
  .warranty{
    padding-top: 92px;
    &__text{
      max-width: 387px;
    }
    &__image{
      top: -70px;
    }

  }
  }

@media screen and (max-width: 1084px) {
  .container {
    max-width: 855px;
  }
  .head {
    &__container {
      max-width: unset;
      padding: 0 23px;
    }

    &__text {
      flex: 1 1 58%;
    }
  }

  .header {
    &__content-wrapper {
      margin-left: 141px;
    }
  }
  .stat {
    padding: 80px 0 173px;

    &__item2 {
      flex: 0 0 19%;
    }
  }
  .list {
    &--container {
      max-width: 632px;
    }

    &--title {
      max-width: 424px;
      margin: 0 auto;
      padding-bottom: 72px;
    }

    &__img {
      position: static;
      width: 787px;
      height: 592px;
      background-color: #a4c58c;
      margin: 0 auto;

      img {
        width: 48%;
        display: block;
        margin: 0 auto;
      }

      &-text {
        padding: 45px 20px 44px 50px;
      }

      &-text-inner {
        right: 27%;
      }

      &-text-link {
        left: 124px;
      }
    }

    .item-1 {
      left: 517px;
      top: 493px;
    }

    .item-2 {
      top: 616px;
      left: 492px;
    }

    .item-3 {
      top: 436px;
      left: 517px;
    }

    .item-4 {
      top: 557px;
      left: 517px;
    }

    .item-5 {
      top: 436px;
      left: 517px;
    }

    .item-6 {
      top: 489px;
      left: 563px;
    }

    .item-7 {
      top: 419px;
      left: 517px;
    }

    .item-8 {
      top: 535px;
      left: 517px;
    }

    .item-9 {
      top: 502px;
      left: 517px;
    }

    &--btn {
      right: 27%;
      padding: 20px 57px 20px 90px;
    }
  }
  .list__text-item.active {
    &::after {
      display: none;
    }
  }

  .popular {
    padding-bottom: 475px;

    &__inner {
      flex-wrap: wrap;
      flex-direction: column;
    }

    &__img {
      order: 2;
      flex: 0 0 100%;
      width: unset;

      &-woman {
        width: 100vw;
      }

      &-text-inner {
        right: 19%;
        bottom: -38%;
      }
    }

    &__text {
      order: 1;
      flex: 0 0 100%;

      &--title {
        width: 62%;
        margin: 0 auto;
        text-align: center;
      }

      &--subtitle {
        padding: 53px 0 50px;
        text-align: center;
      }

      &-items {
        width: 60%;
        margin: 0 auto;
        padding-bottom: 50px;
      }

      &-inner {
        max-width: unset;
      }
    }
  }
  .history {
    &__text--title {
      margin: -95px 113px 17px 273px;
    }
  }
  .participation {
    &--btn {
      padding: 22px 4px 22px 9px;

      img {
        margin-left: -18px;
      }
    }
  }
  .reviews {
    &--title {
      padding: 55px 0 19px;
    }
  }
  .warranty {
    &__image {
      right: 8%;
    }
  }
  .footer {
    &--container {
      max-width: 992px;
    }
  }
}

  @media screen and (max-width: 992px) {
    .head {
      padding-bottom: 23px;

      &__text {
        flex: 1 1 10%;
      }
    }

    .header {
      background-position: top right;

      &__img {
        transform: translate(35px, 10px);
      }

      &__content {
        &-text {
          max-width: 46%;
        }

        &-wrapper {
          margin-left: 78px;
          padding-top: 37px;
        }

        &-form {
          transform: translate(-46px, -40px);
        }
      }
    }
    .stat {
      padding: 40px 0 122px;

      &__inner {
        flex-wrap: wrap;
        justify-content: center;
      }

      &__item {
        flex: 0 0 35%;
      }

      &__item1,
      &__item2 {
        padding-bottom: 73px;
      }

      &__item1,
      &__item3 {
        margin-right: 30px;
        flex: 0 0 35%;
      }
    }
    .list {
      &--title {
        padding-bottom: 52px;
      }

      .item-1,
      .item-3,
      .item-4,
      .item-5,
      .item-6,
      .item-7,
      .item-8,
      .item-9 {
        left: 443px;
      }

      .item-2 {
        left: 465px;
      }
    }
    .popular {
      padding-bottom: 0;

      &__text {
        &--title {
          width: 77%;
          margin: -30px auto 0;
        }

        &--subtitle {
          padding: 42px 0 40px;
        }
      }

      &__img-text-inner {
        bottom: -14%;
        z-index: 11;
        right: 13%;
      }
    }
    .history {
      &__inner {
        flex-direction: column;
      }

      &__img {
        max-width: 351px;
        max-height: 416px;
        align-self: flex-end;
        margin-right: 23px;
        position: relative;
        z-index: 20;
        transform: translateY(-31px);
      }

      &__text {
        background-color: #f6f9f3;
        margin-top: -6px;

        &--title {
          padding: 215px 0 49px;
          text-align: center;
          margin: 0 auto;
          max-width: 726px;
        }

        &-wrapper {
          font-size: 16px;
          padding: 23px 70px 35px 27px;
        }

        &-paragraph {
          padding: 21px 0;
        }
      }

      &__email {
        left: 10%;
        bottom: -318px;
      }
    }
    .quote {
      margin-bottom: 0;

      &__bg1,
      &__bg2 {
        display: none;
      }

      &__inner {
        justify-content: center;
      }

      &__text {
        max-width: 79%;
        margin: 0 auto;

        &-wrapper {
          flex: 0 0 96%;
          padding: 32px 10px;
          margin-top: 58px;
        }
      }
    }
    .advantages {
      background-color: #f6f9f3;
      padding-top: 100px;

      &--title {
        text-align: center;
        margin: 0 auto;
      }

      &__content {
        left: 6%;
      }
    }
    .ingredients {
      margin-top: 116px;

      &--title {
        margin-bottom: 0;
      }

      &__item3-text {
        ul {
          padding-left: 177px;
          max-width: 84%;
          margin-bottom: 0;
        }
      }

      &__item1,
      &__item2,
      &__item4 {
        margin-top: 0;
      }

      &--btn {
        padding: 11px;
      }

      &__list1-item2 {
        transform: translateY(-38px);
      }
    }

    .reviews {
      padding-bottom: 0;

      &--title {
        text-align: center;
      }

      &__container-text {
        padding: 54px 144px 250px;
      }

      &--btn {
        left: 20%;
        top: -193px;
      }

      &__more {
        left: 44%;
        top: -238px;
      }

      &__tab:first-child {
        flex: 0 0 61%;
        padding-right: 90px;
      }
    }

    .participation {
      &__img {
        display: none;
      }

      &__text-wrapper {
        flex: 0 0 82%;
        margin: 0 auto;
        transform: translateX(12px);
      }

      &--btn {
        padding: 22px 31px 22px 48px;
      }
    }
    .warranty {
      position: relative;

      &--container-fluid {
        padding: 35px 0 80px;
      }

      &--title {
        text-align: center;
        margin: 0 0 53px;
      }

      &__image {
        width: 281px;
        height: 431px;
        top: 143px;
      }

      &--subtitle {
        position: absolute;
        left: 25%;
        top: 9%;
        max-width: 520px;
        text-align: center;
      }

      &__block-wrapper {
        margin-top: 125px;
      }

      &__text {
        margin-left: 107px;
      }
    }
    .footer {
      &--container {
        max-width: 828px;
      }

      &__links {
        a {
          display: block;
          text-align: center;
          margin-bottom: 18px;
        }
      }

      &__logo,
      &__phone {
        margin-top: 34px;
      }
    }
  }

    @media screen and (max-width: 852px){

      .header{
        &__img{
          transform: translate(12px, 10px);
          img{
            height: 91%;
            width: 107%;
          }
        }
      }
      .list {
        .item-1,
        .item-3,
        .item-4,
        .item-5,
        .item-6,
        .item-7,
        .item-8,
        .item-9 {
          left: 400px;
        }

        .item-2 {
          left: 421px;
        }

        &__img-text-inner {
          right: 25%;
        }

        &--btn {
          right: 25%;
        }
      }
      .popular{
        &__text-items{
          width: 80%;
        }
      }
      .history{
        &__text-wrapper{
          max-width: 879px;
        }
        &__text--title{
          padding: 200px 0 6px;
        }
      }
      .advantages{
        &__content{
          max-width: 750px;
        }
        &__number{
          left: 14%;
        }
      }
      .ingredients{
        &--btn{
          font-size: 11px;
        }
        &__list2{
          line-height: 21px;
        }
      }
      .warranty{
        &__text{
          margin-left: 80px;
        }
      }
      .footer{
        &--container{
          max-width: 744px;
        }
      }
    }

@media screen and (max-width: 768px) {
  .head {
    &__text {
      font-size: 14px;
    }
  }
  .header {
    background-position-x: 84%;

    &__img {
      img {
        transform: translateX(13px);
        width: 292px;
      }
    }

    &__content-form {
      transform: translate(-166px, -40px);
      width: 126%;
    }

    &__content-wrapper {
      margin-left: 41px;
    }

    &__text {
      font-size: 16px;
      width: 224px;
    }
  }
  .list {
    &-item {
      width: 41px;
      height: 41px;
      font-size: 12px;
      padding: 3px;
      font-weight: 700;
    }

    .item-1,
    .item-3,
    .item-4,
    .item-5,
    .item-6,
    .item-7,
    .item-8,
    .item-9 {
      left: 372px;
    }

    .item-2 {
      left: 394px;
    }

    &__img-text-inner {
      right: 22%;
      bottom: -20px;
    }

    &--btn {
      right: 22%;
    }

    &__img {
      img {
        width: 51%;
      }
    }
  }
  .popular {
    &__text--title {
      width: 88%;
    }

    &__text-inner {
      margin-left: 13px;
    }

    &__img-text-inner {
      bottom: -16%;
      right: 10%;
    }
  }
  .history {
    &__text--title {
      margin: 0 30px;
    }

    &__text-wrapper {
      max-width: 813px;
      padding: 23px 70px 102px 27px;
    }

    &__email {
      left: 7%;
      width: 292px;
      top: 101%;
    }

    &--btn {
      text-align: center;
      padding: 17px 31px;
    }
  }
  .quote{
    &__text-wrapper{
      margin-top: 25px;
    }
  }
  .advantages{
    &__content{
      max-width: 694px;
      left: 5%;
    }
    &__img-wrapper{
      img{
        width: 50%;
      }
    }
    &__img-wrapper1{
      margin-top: -39px;
    }
    &__img-wrapper2{
      margin-top: -27px;
    }
    &__img-wrapper3{
      margin-top: -31px;
    }
    &__text{
      font-size: 10px;
      padding-top: 27px;
    }
    &__number{
      font-size: 110px;
      top: 32%;
    }
    &__item{
      height: 182px;
    }
  }
  .ingredients {
    &__item4 {
      margin-top: 24px;
    }

    &--btn {
      text-align: center;
    }

    &__text {
      font-size: 17px;
      left: 18%;
      top: 31%;
    }

    &__item12-text {
      padding: 0 3px 50px 10px;
    }
  }
  .reviews {
    &__tab:first-child {
      padding-right: 61px;
    }

    &__item{
      &:before {
        width: 31px;
      }
    }
    &__container-text{
      padding: 54px 83px 250px;
    }
    &__more{
      left: 42%;
    }
    &--btn{
      left: 12%;
    }
  }
  .participation{
    margin-top: -20px;
    &--btn{
      padding: 22px 16px 22px 17px;
    }
    &__text{
      padding: 50px 40px 51px 62px;
    }
  }
  .warranty{
    &--subtitle{
      left: 18%;
    }
    &__text{
      margin-left: 24px;
    }
    &__image{
      right: 4%;
    }
  }
  .footer{
    &__phone{
      visibility: visible;
    }
    &__inner{
      justify-content: space-around;
    }
  }
  }

  @media screen and (max-width: 660px){

    .arrow{
      visibility: hidden;
    }
    .title{
      font-size: 24px;
      line-height: 30px;
    }
    .subtitle{
      font-size: 12px;
    }

    .head{
      &__text{
        display: none;
      }
      &__inner{
        justify-content: space-between;
      }
    }
    .header{
     height: 432px;
      background-size: cover;
      &__inner{
        flex-direction: column-reverse;
        align-items: center;
        padding-top: 0;
      }
      &__text{
        display: none;
      }
      &__title{
        font-size: 30px;
      }
      &__addText{
        display: inline;
      }

      &__content-form{
        position: absolute;
        top: 104%;
        visibility: hidden;
        &--btn{
          bottom: -338px;
          visibility: visible;
          padding: 24px 60px 24px 267px;
          width: 120vw;
          left: -84px;

        }
      }
      &__content-form-inputs{
        display: none;
      }
      &__content-text{
        max-width: 94%;
        text-align: center;
      }
      &__img{
        height: 250px;
        width: 115px;
        img{
          width: unset;
        }
      }
    }
    .stat{
      padding: 132px 0 74px;
    }
    .list{
      &--title{
        text-align: center;
      }
      img,
      &__content{
        visibility: hidden;
      }
      &__img{
        background-color: unset;
        height: 200px;
        width: unset;
        &-text-inner{
          top: 65%;
          right: 18%;
          bottom: unset;
        }
      }
      &--btn{
        top: -41px;
        right: -19%;
        width: 120vw;
        padding: 20px 57px 20px 205px;
      }
    }

    .popular{
      padding-bottom: 42%;

      &__text--title{
        margin: -126px auto 0;
      }
      &__img-woman{
        width: 77vw;
        margin: 0 auto;
        display: block;
      }
      &__img-text{
        border: none;
        width: 100vw;
        &-inner {
          bottom: -73%;
          padding: 0;
        }
        &-description{
          width: 59%;
          text-align: center;
          margin: 0 auto;
          line-height: 24px;
          padding: 40px 42px;
        }
      }
      &--btn{
        padding: 24px 27px 11px;
        width: 77%;
        margin-left: 14%;
      }
    }
    .history{
      &__text--title{
        padding: 70px 0 6px;
        max-width: 312px;
        margin-left: 24%;
      }
      &--subtitle{
        text-align: center;
        font-size: 14px;
      }
      &__text-wrapper{
        max-width: 703px;
        padding: 23px 70px 31px 27px;
      }
      &__email{
        top: 171%;
        left: 25%;
        input{
          text-align: center;
        }
      }
      &__img{
        max-height: 424px;
        margin-right: 0;
        transform: translateY(0);
        background-position: center;
        max-width: 100vw;
        background-size: contain;
        background-color: #f6f9f3;
        margin-bottom: 40%;
  }
      &--btn{
        padding: 17px 31px 17px 61px;
      }
    }
    .advantages{
      padding: 12% 0 34%;
      &__inner{
        flex-wrap: wrap;
      }
      &__item{
        border: none;
      }
      &__img-wrapper{

        img {
          width: 27%;
        }
      }
      &__content{
        background-color: #f6f9f3;
        top: -93px;
        left: 0;
      }
      &__number{
        color: #fff;
        left: 26%;
        font-size: 130px;
        letter-spacing: 7px;
      }
      &__number1{
        left: 29%;
      }
    }
    .ingredients{
      &__text{
        top: 37%;
        font-size: 14px;
        line-height: 24px;
      }
      &--btn{
        padding: 11px 11px 11px 52px;
      }
    }
    .reviews{
      &--container{
        margin-top: 0;
      }
      &__container-text{
        padding: 54px 83px 199px;
      }
      &--btn{
        left: 5%;
        top: -118px;
      }
      &__more{
        left: 39%;
        top: -172px;
      }
    }
    .participation{
      margin-top: 43px;
      &__text{
        padding: 0 13px 51px 17px;
        border: none;
        text-align: center;
      }
      &--btn{
        padding: 22px 16px 6px 17px;
      }
    }
    .warranty{
      background-color: #f6f9f3;
      padding-top: 30px;
      height: 120vh;
      &--title{
        margin: 0;
      }
      &--subtitle{
        top: 10%;
        max-width: 414px;
        line-height: 20px;
      }
      &__block-wrapper{
        position: absolute;
        bottom: 0;
      }
      &--container-fluid{
        position: unset;
      }
      &__image{
        width: 280px;
        height: 432px;
        background-size: contain;
        top: 226px;
        right: 28%;
      }
    }
    .footer{
      &__logo,
      &__phone{
        display: none;
      }
    }



}








































































































