@import "vars.scss";
@import "global.scss";
@import "libs.scss";


// head

.head{
  padding-bottom: 47px;
  &__container{
    padding: 0 15px;
  }

  &__inner{
    display: flex;
  }
  &__logo{
    padding-top: 40px;
  }
  &__text{
    padding-top: 48px;
    font-size: 16px;
    color: #9a9a9a;
    margin-left: 40px;
    flex: 0 0 60%;
  }
  &__phone{
    padding-top: 36px;

    }
  }


// header

.header{
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto auto;


  &__inner{
    display: flex;
    justify-content: center;
    padding-top: 92px;
  }
  &__img{
    max-width: 294px;
    transform: translateX(116px);

  }

  &__content-wrapper{
    max-width: 574px;
    margin-left: 282px;
    padding-top: 71px;
    transform: translateX(10px);
  }
  &__content-text{
    color: #fff;
  }
  &__title{
    font-size: 60px;
    font-weight: 600;
    padding: 14px 0 35px;
  }
  &--subtitle{
    color: #fff;
  }
  &__text{
    font-size: 18px;
    padding-bottom: 100px;
  }
  &__content-form{
    background-color: #ffffff;
    padding: 20px;
    &-inner{
      border: 1px solid #a8c48c;
      border-radius: 2px;
      position: relative;
    }
    &-text{
      max-width: 190px;
    }
    &-inputs{
      padding: 55px 55px 113px;
      input {
        border-bottom: 1px solid #a8c48c;
        padding-top: 40px;
        padding-bottom: 10px;
        max-width: 40%;
            &::placeholder{
              font-size: 14px;
              color: #a8c48c;
            }
      }
    }
    &--btn{
      padding: 24px 60px 24px 75px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .tel{
    margin-left: 40px;
  }
}

// stat

.stat{

  padding: 80px 0 264px;

  &__inner{
    display: flex;
    justify-content: space-between;
  }

  &__item-round{
    width: 18px;
    height: 18px;
    border: 4px solid #e4eddc;
    border-radius: 20px;
  }
  &__item1,
  &__item4{
    flex: 0 0 22%;
  }

  &__item2{
    flex: 0 0 17%;
  }
  &__item3{
    flex: 0 0 21%;
  }

  &__item-number{
    font-size: 30px;
    color: #a4c58c;
    font-weight: 600;
    margin: 15px 0 0;

    span{
      font-size: 18px;
    }
  }
  &__underscore{
    transform: translateY(-8px);
  }
  &__item-number,
  &__underscore,
  &__item-text{
    padding-left: 45px;
  }
}

// list

.list{
  &--title{
    max-width: 499px;
    padding-bottom: 50px;
  }

  &--container-fluid{
    background-color: #f6f9f3;
    position: relative;
  }

  &__text{
    span{
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 20px;
      color: #a4c58c;
      font-weight: 600;
      margin-right: 22px;
    }
    p{
      padding: 15px 10px 15px 0;
      max-height: 70px;
      cursor: pointer;
    }
    &-item1,
    &-item2,
    &-item3,
    &-item4,
    &-item5{
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 20px;
      color: #303030;
      font-weight: 600;
      border-bottom: 1px solid #e6efde;
      max-width: 650px;
      text-transform: uppercase;

    }
    &-item6,
    &-item7,
    &-item8,
    &-item9{
      line-height: 20px;
      color: #303030;
      flex: 0 0 50%;
      display: flex;
      border-bottom: 1px solid #e6efde;
      span{
        display: block;
        font-size: 12px;
      }
    }
    &-item6,
    &-item7{
      border-right: 1px solid #e6efde;
    }
    &-item8,
    &-item9{
      span{
        margin-left: 40px;
      }
    }

    &-items-wrapper{
      max-width: 650px;
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 30px;
      }
    }

  .list__text-item.active{
    position: relative;
    &::after{
      content: "";
      position: absolute;
      right: 20px;
      background-image: url("../img/list-arrow.svg");
      background-repeat: no-repeat;
      width: 11px;
      height: 17px;
    }
  }
  .list__text-item6.list__text-item.active{
    &::after{
      display: none;
    }
  }

  &__img{
    width: 500px;
    height: 689px;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    position: absolute;
    top: -292px;
    right: 270px;
  }
  &-item{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 9px solid #f3f7f0;
    background-color: #a5c989;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #f3f7f0;
    font-weight: 600;
    text-align: center;
    padding: 6px;
    position: absolute;
    display: none;
    &:first-child{
      display: block;
    }
  }
  &__img-text-inner{
    height: 190px;
    width: 415px;
    background-color: #f6f9f3;
    position: absolute;
    bottom: 0;
    padding: 20px;
  }
  &__img-text{
    border: 1px solid #c5dab5;
    padding: 45px 20px 64px 50px;
    position: relative;
    &__-description{
      line-height: 24px;
    }
  }

  .item-1{
    top: 133px;
    left: 225px;
  }
  .item-2{
    top: 288px;
    left: 196px;
  }
  .item-3{
    top: 38px;
    left: 224px;
  }

  .item-4{
    top: 85px;
    left: 224px;
  }
  .item-5{
    top: 38px;
    left: 224px;
  }
  .item-6{
    top: 153px;
    left: 165px;
  }
  .item-7{
    top: 108px;
    left: 165px;
  }
  .item-8{
    top: 192px;
    left: 225px;
  }
  .item-9{
    top: 19px;
    left: 225px;
  }

  &__img-text-link{
    display: inline-block;
    padding: 5px;
    font-size: 14px;
    line-height: 24px;
    color: #7eb252;
    font-weight: 600;
    text-decoration: underline;
    position: absolute;
    bottom: -16px;
    background-color: #f6f9f3;
  }

  &__button-inner{
    position: relative;
    margin: 40px auto 250px;
    max-width: 1140px;

  }
  &--btn{
    padding: 20px 100px 20px 120px;
    position: absolute;
    right: -20px;
    top: 0;
  }
}

// popular

.popular{
  padding-bottom: 269px;
  &__inner{
    display: flex;
    justify-content: center;
  }
  &__img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 875px;
    height: 645px;
    flex: 0 0 50%;
    position: relative;
  }
  &__img-text-inner{
    background-color: #fff;
    max-width: 600px;
    padding: 20px;
    position: absolute;
    bottom: -112px;
    right: 10px;

  }
  &__img-text{
    border: 1px solid #c5dab5;
  }
  &__img-text-description{
    padding: 40px 67px 40px 42px;
  }
  &--btn{
    display: inline-block;
    padding: 30px 35px;
    font-weight: 600;
    width: 100%;
  }
  &__text{
    flex: 0 0 50%;
    &-inner{
      max-width: 504px;
      margin-left: 65px;
    }
    &--subtitle{
      padding: 34px 0 50px;
    }
    &-item{
      line-height: 22px;
      padding-left: 33px;
      &:not(:last-child){
        padding-bottom: 42px;
      }
      &:hover{
        color: #9a9a9a;
      }
    }
  }
}

//history

.history{
  padding-bottom: 50px;
  &__inner{
    display: flex;
    justify-content: center;
  }
  &__text{
    flex: 0 0 60%;
    margin-right: -100px;
    position: relative;
    z-index: 10;
    line-height: 24px;
  }
  &__img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 774px;
    height: 920px;
  }
  &__text--title{
    max-width: 850px;
    margin: 103px 113px 38px 273px;
  }
  &__text-wrapper{
    max-width: 977px;
    background-color: #f6f9f3;
    padding: 23px 49px 35px 270px;
  }
  &__text-paragraph{
    padding: 28px 0;
  }
  &__email{
    width: 370px;
    padding-top: 45px;
    position: absolute;
    right: 150px;
    bottom: 0;
    input{
      width: 100%;
      border-bottom: 1px solid #a8c48c;
      padding-top: 40px;
      padding-bottom: 10px;
      &::placeholder{
        font-size: 14px;
        color: #a8c48c;
      }

    }
  }
  &--btn{
    display: block;
    margin-top: 34px;
    padding: 22px 72px;
    span{
      margin-left: 16px;
    }
  }
}

// quote

.quote{
  max-height: 550px;
  margin-bottom: 130px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &__bg1,
   &__bg2{
    flex: 0 0 31%;
  }

  &__bg1,
  &__bg2{
    height: 588px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__bg1  {
    background-position: -448px center;

  }
  &__bg2{
    background-position: 93px center;
    height: 922px;
    overflow: hidden;


  }
  &__text-wrapper{
    max-height: 332px;
    border-bottom: 2px solid #cee0c2;
    border-top: 2px solid #cee0c2;
    padding: 50px 10px 60px;
    margin-top: 100px;
    text-align: center;
  }
  &__text{
    font-size: 24px;
    line-height: 40px;
    color: #303030;
    font-weight: 700;

  }
  &__author{
    font-size: 18px;
    line-height: 30px;
    color: #303030;
    padding-top: 34px;
    span{
      color: #cccccc;
    }
  }
}

// advantages

.advantages{
  &--title{
    max-width: 526px;
  }
  &--container-fluid{
    height: 378px;
    position: relative;
    background-color: #f6f9f3;
    margin-top: 114px;
  }
  &__content{
    background-color: #fff;
    max-width: 1112px;
    margin: 0 auto;
    padding: 24px;
    position: absolute;
    top: -70px;
    left: 19%;
  }
  &__inner {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item:not(:first-child){
    margin-left: 24px;
  }
  &__item{
    height: 304px;
    width: 353px;
    border: 1px solid #e4eddc;
    position: relative;
    padding: 66px 18px;
  }
  &__img{
    display: block;
    margin: 0 auto;
    opacity: 50%;
  }
  &__text{
    text-align: center;
    padding-top: 46px;
  }
  &__text2,
  &__text3{
    padding-top: 58px;
  }
  &__number{
    font-size: 150px;
    letter-spacing: 8px;
    line-height: 20px;
    color: #f7f9f3;
    font-weight: 900;
    position: absolute;
    top: 32%;left: 21%;
  }
}

// ingredients

.ingredients{
  margin-top: 250px;

  &--container{
    max-width: 1172px;
    margin: 0 auto;
  }
  &--title{
    max-width: 435px;
    transform: translateY(-94px);
  }
  &__inner{
    display: flex;
    flex-wrap: wrap;
  }
  &__item{
    position: relative;
    width: 270px;
    height: 270px;
    margin: 15px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #f6f9f3;
    &:hover .ingredients__item-effect{
      opacity: 100%;
    }
    &-effect{
      width: 228px;
      height: 228px;
      margin: 0 auto;
      transform: translateY(19px);
      font-size: 14px;
      line-height: 20px;
      font-weight: 700;
      color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: all .5s ease-in-out;
    }
  }
  &__list1{
    line-height: 22px;
  }

  &__list1-item1 {
    transform: translateY(-70px);
    padding-left: 36px;
  }
    &__list1-item2{
      transform: translateY(-38px);
      padding-left: 38px;
    }


  &__item3-text{
    width: 540px;
    background: none;
  }
  &__item1,
  &__item4,
  &__item8{
    margin-left: 0;
  }
  &__item7,
  &__item11,
  &__item13{
    margin-right: 0;
  }
  &__item12-text-wrapper{
    flex-grow: 3;
    position: relative;
    background: none;
    padding: 17px;
  }
  &__item12-text{
    border: 1px solid #e4eddc;
    padding: 26px 61px 58px 50px;
    position: relative;
    ul{
      list-style-image: url("../img/list-round.png");
    }
    p{
      margin-bottom: 15px;
    }
  }
  &__list1-item12{
    padding-left: 20px;
  }
  &__number{
    font-size: 14px;
    line-height: 24px;
    color: #a4c58c;
    font-weight: 700;
    transform: rotate(-90deg);
    position: absolute;
    top: 20px;

  }
  &__name{
    font-size: 14px;
    line-height: 24px;
    color: #a4c58c;
    position: absolute;
    transform: rotate(-90deg);
  }
  &__name1{
    bottom: 81px;
    right: -54px;
  }
  &__name2{
    bottom: 52px;
    right: -28px;
  }
  &__name3{
    bottom: 98px;
    right: -69px;
  }
  &__name4{
    bottom: 58px;
    right: -29px;
  }
  &__name5{
    bottom: 81px;
    right: -54px;
  }
  &__name6{
    bottom: 69px;
    right: -42px;
  }
  &__name7{
    bottom: 53px;
    right: -30px;
  }
  &__name8{
    bottom: 68px;
    right: -44px;
  }
  &__name9{
    bottom: 81px;
    right: -54px;
  }
  &__name10{
    bottom: 69px;
    right: -41px;
  }
  &__name11{
    bottom: 65px;
    right: -36px;
  }
  &--btn{
    padding: 23px 50px 23px 70px;
    position: absolute;
    bottom: 0;
    right: 0;
    img{
      padding-left: 20px;
    }
  }
  &__sign{
    position: absolute;
    left: 23%;top: 43%;
    font-size: 250px;
    letter-spacing: 13px;
    line-height: 20px;
    color: #cedfc0;
    font-weight: bold;
  }
  &__text{
    position: absolute;
    left: 10%;top: 50%;
    max-width: 108px;
  }
}

// reviews

.reviews{
  padding-bottom: 240px;

  &--title{
    padding: 202px 0 54px;
  }

  &__content{
    display: flex;
    justify-content: center;
  }

  &__tab{
    padding: 30px;
    cursor: pointer;
    color: #c3c3c3;
    background: #fff;

    &:first-child{
     text-align: right;
      flex: 0 0 45%;
      padding-right: 164px;
    }

    &:nth-child(2){
      flex: 0 0 55%;
    }
  }

  &__tab.active{
    background-color: #f6f9f3;
    color: #96c072;
  }

  #tab-2{
    display: none;
  }

  &__container-text{
   padding: 54px 315px;
  }

  &--container-fluid{
   background-color: #f6f9f3;
 }

  &-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item{
    flex: 0 0 40%;
    position: relative;
    line-height: 22px;
    color: #9a9a9a;

    &:first-child,
    &:nth-child(2){
      padding-bottom: 73px;
    }

    &:before{
      content: "";
      width: 24px;
      height: 3px;
      background-color: #a4c58c;
      position: absolute;
      top: -25px;
    }

  }
  .author{
    padding-top: 40px;
    font-weight: bold;
  }

  &__more{
    font-size: 14px;
    line-height: 24px;
    color: #7eb252;
    font-weight: 700;
    text-decoration: underline;
    position: absolute;
    left: 42%;
  }
  &--btn{
    padding: 30px 20px;
    margin-left: 30px;
    position: absolute;
    left: 52%;
    top: -24px;
    img{
      padding-left: 20px;
    }
  }
  &--container{
    margin-top: 71px;
    position: relative;
    a{
      display: inline-block;
    }
  }
}

// participation

.participation{

  &__inner{
    display: flex;
    justify-content: center;
  }
  &__img {
    max-height: 772px;
    text-align: center;
    img{
      width: 100%;
    }
  }

  &__text-wrapper{
    background-color: #fff;
    padding: 24px;
    transform: translateX(-305px);
    align-self: center;
    flex: 0 0 41%;
  }
  &__text{
    border: 1px solid #e4eddc;
    padding: 50px 40px 51px 72px;
  }
  &--title{
    margin-top: 0;
  }

  &__p1{
    margin-bottom: 20px;
  }
  &__p1,
  &__p2{
    line-height: 22px;
    color: #303030;
  }
  &--subtitle{
    margin: 42px 0;
  }
  &--btn{
    display: inline-block;
    padding: 27px 25px 27px 36px;
    margin-top: 23px;
    img{
      padding-left: 20px;

    }
  }
}

// warranty

.warranty{
  padding-top: 273px;

  &--container-fluid{
    background-color: #f6f9f3;
    padding: 35px 0 92px;
    position: relative;
  }
  &__image{
    width: 416px;
    height: 644px;
    background-repeat: no-repeat;
    background-size: auto;
    position: absolute;
    top: -192px;
    right: 18%;
  }
  &__text{
    //flex: 0 0 30%;
    max-width: 577px;
    margin-left: 345px;
  }
  &__block-wrapper{
    background-color: #fff;
    padding: 20px;
    margin-top: 46px;
  }
  &__block{
    border: 1px solid #e4eddc;
    padding: 48px 48px 97px 54px;
    position: relative;
  }
  &__but{
    width: 45px;
    position: absolute;
    top: -16px;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 24px;
    color: #a4c58c;
    font-weight: 700;
  }
  &__p1,
  &__p2{
    line-height: 22px;
    color: #303030;
  }
  &__p1{
    margin-bottom: 28px;
  }
  &--btn {
    padding: 24px 50px;
    position: absolute;
    bottom: 0; right: 0;

    img {
      padding-left: 20px;
    }
  }
}

// footer

.footer{
  padding-bottom: 36px;
  &__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 41px;
  }
  &__secret,
  &__duty,
  &__agree{
    font-size: 12px;
    color: #9a9a9a;
    text-decoration: underline;
    padding-top: 10px;
  }

}














































@import "media.scss";