html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

p {
  margin: 0;
  padding: 0;
}

input {
  border: none;
  outline: none;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container-fluid {
  max-width: 1720px;
  margin: 0 auto;
}

.title {
  font-size: 40px;
  line-height: 50px;
  color: #303030;
  font-weight: 700;
}

.subtitle {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  color: #303030;
  text-transform: uppercase;
}

.btn {
  background-color: #7eb252;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

.phone {
  max-width: 203px;
  text-align: right;
}

.phone-number {
  color: #303030;
  font-weight: 500;
  font-size: 20px;
}

.phone-text {
  font-size: 12px;
  color: #9a9a9a;
}

.head {
  padding-bottom: 47px;
}
.head__container {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 15px;
}
.head__inner {
  display: flex;
}
.head__logo {
  padding-top: 40px;
}
.head__text {
  padding-top: 48px;
  font-size: 16px;
  color: #9a9a9a;
  margin-left: 40px;
  flex: 0 0 60%;
}
.head__phone {
  padding-top: 36px;
}

.header {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto auto;
}
.header__inner {
  display: flex;
  justify-content: center;
  padding-top: 92px;
}
.header__img {
  max-width: 294px;
  transform: translateX(116px);
}
.header__content-wrapper {
  max-width: 574px;
  margin-left: 282px;
  padding-top: 71px;
  transform: translateX(10px);
}
.header__content-text {
  color: #fff;
}
.header__title {
  font-size: 60px;
  font-weight: 600;
  padding: 14px 0 35px;
}
.header--subtitle {
  color: #fff;
}
.header__text {
  font-size: 18px;
  padding-bottom: 100px;
}
.header__content-form {
  background-color: #ffffff;
  padding: 20px;
}
.header__content-form-inner {
  border: 1px solid #a8c48c;
  border-radius: 2px;
  position: relative;
}
.header__content-form-text {
  max-width: 190px;
}
.header__content-form-inputs {
  padding: 55px 55px 113px;
}
.header__content-form-inputs input {
  border-bottom: 1px solid #a8c48c;
  padding-top: 40px;
  padding-bottom: 10px;
}
.header__content-form-inputs input::placeholder {
  font-size: 14px;
  color: #a8c48c;
}
.header__content-form--btn {
  padding: 24px 60px 24px 75px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.header .tel {
  margin-left: 40px;
}

.stat {
  padding: 80px 0 264px;
}
.stat__inner {
  display: flex;
  justify-content: space-between;
}
.stat__item-round {
  width: 18px;
  height: 18px;
  border: 4px solid #e4eddc;
  border-radius: 20px;
}
.stat__item1, .stat__item4 {
  flex: 0 0 22%;
}
.stat__item2 {
  flex: 0 0 17%;
}
.stat__item3 {
  flex: 0 0 21%;
}
.stat__item-number {
  font-size: 30px;
  color: #a4c58c;
  font-weight: 600;
  margin: 15px 0 0;
}
.stat__item-number span {
  font-size: 18px;
}
.stat__underscore {
  transform: translateY(-8px);
}
.stat__item-number, .stat__underscore, .stat__item-text {
  padding-left: 45px;
}

.list--title {
  max-width: 499px;
  padding-bottom: 50px;
}
.list__container-fluid {
  background-color: #f6f9f3;
  position: relative;
}
.list__text span {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #a4c58c;
  font-weight: 600;
  margin-right: 22px;
}
.list__text p {
  padding: 15px 10px 15px 0;
  max-height: 70px;
  cursor: pointer;
}
.list__text-item1, .list__text-item2, .list__text-item3, .list__text-item4, .list__text-item5 {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #303030;
  font-weight: 600;
  border-bottom: 1px solid #e6efde;
  max-width: 650px;
  text-transform: uppercase;
}
.list__text-item6, .list__text-item7, .list__text-item8, .list__text-item9 {
  line-height: 20px;
  color: #303030;
  flex: 0 0 50%;
  display: flex;
  border-bottom: 1px solid #e6efde;
}
.list__text-item6 span, .list__text-item7 span, .list__text-item8 span, .list__text-item9 span {
  display: block;
  font-size: 12px;
}
.list__text-item6, .list__text-item7 {
  border-right: 1px solid #e6efde;
}
.list__text-item8 span, .list__text-item9 span {
  margin-left: 40px;
}
.list__text-items-wrapper {
  max-width: 650px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}
.list .list__text-item.active {
  position: relative;
}
.list .list__text-item.active::after {
  content: "";
  position: absolute;
  right: 20px;
  background-image: url("../img/list-arrow.svg");
  background-repeat: no-repeat;
  width: 11px;
  height: 17px;
}
.list .list__text-item6.list__text-item.active::after {
  display: none;
}
.list__img {
  width: 500px;
  height: 689px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: absolute;
  top: -292px;
  right: 270px;
}
.list-item {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 9px solid #f3f7f0;
  background-color: #a5c989;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 20px;
  color: #f3f7f0;
  font-weight: 600;
  text-align: center;
  padding: 6px;
  position: absolute;
  display: none;
}
.list-item:first-child {
  display: block;
}
.list__img-text-inner {
  height: 190px;
  width: 415px;
  background-color: #f6f9f3;
  position: absolute;
  bottom: 0;
  padding: 20px;
}
.list__img-text {
  border: 1px solid #c5dab5;
  padding: 45px 20px 64px 50px;
  position: relative;
}
.list__img-text__-description {
  line-height: 24px;
}
.list .item-1 {
  top: 133px;
  left: 225px;
}
.list .item-2 {
  top: 288px;
  left: 196px;
}
.list .item-3 {
  top: 38px;
  left: 224px;
}
.list .item-4 {
  top: 85px;
  left: 224px;
}
.list .item-5 {
  top: 38px;
  left: 224px;
}
.list .item-6 {
  top: 153px;
  left: 165px;
}
.list .item-7 {
  top: 108px;
  left: 165px;
}
.list .item-8 {
  top: 192px;
  left: 225px;
}
.list .item-9 {
  top: 19px;
  left: 225px;
}
.list__img-text-link {
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  line-height: 24px;
  color: #7eb252;
  font-weight: 600;
  text-decoration: underline;
  position: absolute;
  bottom: -16px;
  background-color: #f6f9f3;
}
.list__button-inner {
  position: relative;
  margin: 40px auto 250px;
  max-width: 1140px;
}
.list--btn {
  padding: 20px 100px 20px 120px;
  position: absolute;
  right: -20px;
  top: 0;
}

.popular {
  padding-bottom: 269px;
}
.popular__inner {
  display: flex;
  justify-content: center;
}
.popular__img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 875px;
  height: 645px;
  flex: 0 0 50%;
  position: relative;
}
.popular__img-text-inner {
  background-color: #fff;
  max-width: 600px;
  padding: 20px;
  position: absolute;
  bottom: -112px;
  right: 10px;
}
.popular__img-text {
  border: 1px solid #c5dab5;
}
.popular__img-text-description {
  padding: 40px 67px 40px 42px;
}
.popular--btn {
  display: inline-block;
  padding: 30px 35px;
  font-weight: 600;
  width: 100%;
}
.popular .popular__text {
  flex: 0 0 50%;
}
.popular .popular__text-inner {
  max-width: 504px;
  margin-left: 65px;
}
.popular .popular__text--subtitle {
  padding: 34px 0 50px;
}
.popular .popular__text-item {
  line-height: 22px;
  padding-left: 33px;
}
.popular .popular__text-item:not(:last-child) {
  padding-bottom: 42px;
}

.history {
  padding-bottom: 50px;
}
.history__inner {
  display: flex;
  justify-content: center;
}
.history__text {
  flex: 0 0 60%;
  margin-right: -100px;
  position: relative;
  line-height: 24px;
}
.history__img {
  background-repeat: no-repeat;
  background-size: auto;
  width: 774px;
  height: 920px;
}
.history__text--title {
  max-width: 850px;
  margin: 103px 113px 38px 273px;
}
.history__text-wrapper {
  max-width: 977px;
  background-color: #f6f9f3;
  padding: 23px 49px 35px 270px;
}
.history__text-paragraph {
  padding: 28px 0;
}
.history__email {
  width: 370px;
  padding-top: 45px;
  position: absolute;
  right: 150px;
  bottom: 0;
}
.history__email input {
  width: 100%;
  border-bottom: 1px solid #a8c48c;
  padding-top: 40px;
  padding-bottom: 10px;
}
.history__email input::placeholder {
  font-size: 14px;
  color: #a8c48c;
}
.history--btn {
  display: block;
  margin-top: 34px;
  padding: 22px 72px;
}
.history--btn span {
  margin-left: 16px;
}

.quote {
  max-height: 550px;
  margin-bottom: 130px;
}
.quote__inner {
  display: flex;
  justify-content: space-between;
}
.quote__bg1, .quote__bg2 {
  flex: 0 0 31%;
}
.quote__bg1, .quote__bg2 {
  height: 588px;
  background-repeat: no-repeat;
  background-size: cover;
}
.quote__bg1 {
  background-position: -448px center;
}
.quote__bg2 {
  background-position: 93px center;
  height: 922px;
  overflow: hidden;
}
.quote__text-wrapper {
  max-height: 332px;
  border-bottom: 2px solid #cee0c2;
  border-top: 2px solid #cee0c2;
  padding: 50px 10px 60px;
  margin-top: 100px;
  text-align: center;
}
.quote__text {
  font-size: 24px;
  line-height: 40px;
  color: #303030;
  font-weight: 700;
}
.quote__author {
  font-size: 18px;
  line-height: 30px;
  color: #303030;
  padding-top: 34px;
}
.quote__author span {
  color: #cccccc;
}

.advantages--title {
  max-width: 526px;
}
.advantages--container-fluid {
  height: 378px;
  position: relative;
  background-color: #f6f9f3;
  margin-top: 114px;
}
.advantages__content {
  background-color: #fff;
  max-width: 1112px;
  margin: 0 auto;
  padding: 24px;
  position: absolute;
  top: -70px;
  left: 19%;
}
.advantages__inner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.advantages__item:not(:first-child) {
  margin-left: 24px;
}
.advantages__item {
  height: 304px;
  width: 353px;
  border: 1px solid #e4eddc;
  position: relative;
  padding: 66px 18px;
}
.advantages__img {
  display: block;
  margin: 0 auto;
  opacity: 50%;
}
.advantages__text {
  text-align: center;
  padding-top: 46px;
}
.advantages__text2, .advantages__text3 {
  padding-top: 58px;
}
.advantages__number {
  font-size: 150px;
  letter-spacing: 8px;
  line-height: 20px;
  color: #f7f9f3;
  font-weight: 900;
  position: absolute;
  top: 32%;
  left: 21%;
}

.ingredients {
  margin-top: 250px;
}
.ingredients--container {
  max-width: 1172px;
  margin: 0 auto;
}
.ingredients--title {
  max-width: 435px;
  transform: translateY(-94px);
}
.ingredients__inner {
  display: flex;
  flex-wrap: wrap;
}
.ingredients__item {
  position: relative;
  width: 270px;
  height: 270px;
  margin: 15px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #f6f9f3;
}
.ingredients__item:hover .ingredients__item-effect {
  opacity: 100%;
}
.ingredients__item-effect {
  width: 228px;
  height: 228px;
  margin: 0 auto;
  transform: translateY(19px);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.ingredients__list1 {
  line-height: 22px;
}
.ingredients__list1-item1 {
  transform: translateY(-70px);
  padding-left: 36px;
}
.ingredients__list1-item2 {
  transform: translateY(-38px);
  padding-left: 38px;
}
.ingredients__item3-text {
  width: 540px;
  background: none;
}
.ingredients__item1, .ingredients__item4, .ingredients__item8 {
  margin-left: 0;
}
.ingredients__item7, .ingredients__item11, .ingredients__item13 {
  margin-right: 0;
}
.ingredients__item12-text-wrapper {
  flex-grow: 3;
  position: relative;
  background: none;
  padding: 17px;
}
.ingredients__item12-text {
  border: 1px solid #e4eddc;
  padding: 26px 61px 58px 50px;
  position: relative;
}
.ingredients__item12-text p {
  margin-bottom: 15px;
}
.ingredients__list1-item12 {
  padding-left: 20px;
}
.ingredients__number {
  font-size: 14px;
  line-height: 24px;
  color: #a4c58c;
  font-weight: 700;
  transform: rotate(-90deg);
  position: absolute;
  top: 20px;
}
.ingredients__name {
  font-size: 14px;
  line-height: 24px;
  color: #a4c58c;
  position: absolute;
  transform: rotate(-90deg);
}
.ingredients__name1 {
  bottom: 81px;
  right: -54px;
}
.ingredients__name2 {
  bottom: 52px;
  right: -28px;
}
.ingredients__name3 {
  bottom: 98px;
  right: -69px;
}
.ingredients__name4 {
  bottom: 58px;
  right: -29px;
}
.ingredients__name5 {
  bottom: 81px;
  right: -54px;
}
.ingredients__name6 {
  bottom: 69px;
  right: -42px;
}
.ingredients__name7 {
  bottom: 53px;
  right: -30px;
}
.ingredients__name8 {
  bottom: 68px;
  right: -44px;
}
.ingredients__name9 {
  bottom: 81px;
  right: -54px;
}
.ingredients__name10 {
  bottom: 69px;
  right: -41px;
}
.ingredients__name11 {
  bottom: 65px;
  right: -36px;
}
.ingredients--btn {
  padding: 23px 50px 23px 70px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.ingredients--btn img {
  padding-left: 20px;
}
.ingredients__sign {
  position: absolute;
  left: 23%;
  top: 43%;
  font-size: 250px;
  letter-spacing: 13px;
  line-height: 20px;
  color: #cedfc0;
  font-weight: bold;
}
.ingredients__text {
  position: absolute;
  left: 10%;
  top: 50%;
  max-width: 108px;
}

.reviews {
  padding-bottom: 240px;
}
.reviews--title {
  padding: 202px 0 54px;
}
.reviews__content {
  display: flex;
  justify-content: center;
}
.reviews__tab {
  padding: 30px;
  cursor: pointer;
  color: #c3c3c3;
  background: #fff;
}
.reviews__tab:first-child {
  text-align: right;
  flex: 0 0 45%;
  padding-right: 164px;
}
.reviews__tab:nth-child(2) {
  flex: 0 0 55%;
}
.reviews__tab.active {
  background-color: #f6f9f3;
  color: #96c072;
}
.reviews #tab-2 {
  display: none;
}
.reviews__container-text {
  padding: 54px 315px;
}
.reviews--container-fluid {
  background-color: #f6f9f3;
}
.reviews-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.reviews__item {
  flex: 0 0 40%;
  position: relative;
  line-height: 22px;
  color: #9a9a9a;
}
.reviews__item:first-child, .reviews__item:nth-child(2) {
  padding-bottom: 73px;
}
.reviews__item:before {
  content: "";
  width: 24px;
  height: 3px;
  background-color: #a4c58c;
  position: absolute;
  top: -25px;
}
.reviews .author {
  padding-top: 40px;
  font-weight: bold;
}
.reviews__more {
  font-size: 14px;
  line-height: 24px;
  color: #7eb252;
  font-weight: 700;
  text-decoration: underline;
  position: absolute;
  left: 42%;
}
.reviews--btn {
  padding: 30px 20px;
  margin-left: 30px;
  position: absolute;
  left: 52%;
  top: -24px;
}
.reviews--btn img {
  padding-left: 20px;
}
.reviews--container {
  margin-top: 71px;
  position: relative;
}
.reviews--container a {
  display: inline-block;
}

.participation__inner {
  display: flex;
  justify-content: center;
}
.participation__img {
  max-height: 772px;
  text-align: center;
}
.participation__img img {
  width: 100%;
}
.participation__text-wrapper {
  background-color: #fff;
  padding: 24px;
  transform: translateX(-305px);
  align-self: center;
  flex: 0 0 41%;
}
.participation__text {
  border: 1px solid #e4eddc;
  padding: 50px 40px 51px 72px;
}
.participation--title {
  margin-top: 0;
}
.participation__p1 {
  margin-bottom: 20px;
}
.participation__p1, .participation__p2 {
  line-height: 22px;
  color: #303030;
}
.participation--subtitle {
  margin: 42px 0;
}
.participation--btn {
  display: inline-block;
  padding: 27px 25px 27px 36px;
  margin-top: 23px;
}
.participation--btn img {
  padding-left: 20px;
}

.warranty {
  padding-top: 273px;
}
.warranty--container-fluid {
  background-color: #f6f9f3;
  padding: 35px 0 92px;
  position: relative;
}
.warranty__image {
  width: 416px;
  height: 644px;
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: -192px;
  right: 18%;
}
.warranty__text {
  flex: 0 0 30%;
  max-width: 577px;
  margin-left: 345px;
}
.warranty__block-wrapper {
  background-color: #fff;
  padding: 20px;
  margin-top: 46px;
}
.warranty__block {
  border: 1px solid #e4eddc;
  padding: 48px 48px 97px 54px;
  position: relative;
}
.warranty__but {
  width: 45px;
  position: absolute;
  top: -16px;
  padding: 5px;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 24px;
  color: #a4c58c;
  font-weight: 700;
}
.warranty__p1, .warranty__p2 {
  line-height: 22px;
  color: #303030;
}
.warranty__p1 {
  margin-bottom: 28px;
}
.warranty--btn {
  padding: 24px 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.warranty--btn img {
  padding-left: 20px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 41px;
}
.footer__secret, .footer__duty, .footer__agree {
  font-size: 12px;
  color: #9a9a9a;
  text-decoration: underline;
  padding-top: 10px;
}

/*# sourceMappingURL=style.css.map */
